*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14PX;
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.coluna{
    flex-grow: 1;
    width: 50%;
}

.form{
    width: 50%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.esquerda{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.esquerda h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5%;
}

.esquerda form{
    display: flex;
    flex-direction: column;
}

.esquerda form input[type="text"],
.esquerda form input[type="password"],
.esquerda form input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 1px solid #000000;
}

.form form input[type="checkbox"],label{
    margin-bottom: 5%;
}

.esquerda form input[type="submit"]{
    width: 100%;
    padding: 10px 20px;
    background-color: #0056FB;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.esquerda p,a{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}

.esquerda a{
    color: #5d5d5d;
}


/*container Direita*/

.direita{
    background-color: #0056FB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.direita img{
    width: 55%;
    height: auto;
    margin-bottom: 20px;
}

.direita h1{
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0 10px 0;
   
}

.direita h1, p{
    text-align: left;
    width: 50%;
    color: #FFFFFF;
}

@media(max-width:1144px){
    .form{
        min-width: 65%;
    }
    .esquerda p,a{
        width: 65%;
    }
}

@media(max-width:900px){
    .form{
        min-width: 75%;
    }
    .esquerda p,a{
        width: 75%;
    }
}

@media(max-width:740px){
    .container{
        display: inline-block;
        width: 100%;
        height: 100vh;
    }
    
    .coluna{
        width: 100%;
        height: 100vh;
    }

    .esquerda{
        height: 55%;
    }

    .esquerda p,a{
        font-size: 13px;
        width: 75%;
    }

    /*Direita*/

    .direita{
        height: 55%;
        margin-top: 8%;
    }

    .direita img{
        max-width: 45%;
    }

    .direita h1{
        font-size: 20px;
    }
    
    .direita p{
        font-size: 13px;
    }
}